<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthcare">
    <uses-permission android:name="android.permission.SET_ALARM"/>

    <application
        android:name=".LocalStorage"
        android:allowBackup="true"
        android:icon="@mipmap/headericon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/headericon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ForgetPassword"></activity>
        <activity
            android:name=".GoalAddPage"
            android:parentActivityName=".GoalActivity" />
        <activity
            android:name=".MedicationAddPage"
            android:parentActivityName=".MedicationDashBoard" />
        <activity
            android:name=".CaloriesAddPage"
            android:parentActivityName=".CaloriesActivity" />
        <activity
            android:name=".BloodSugarAddPage"
            android:parentActivityName=".BloodSugarActivity" />
        <activity
            android:name=".BloodPressureAddPage"
            android:parentActivityName=".BloodpressureActivity" />
        <activity android:name=".MedicationDashBoard" />
        <activity android:name=".GoalActivity" />
        <activity android:name=".CaloriesActivity" />
        <activity android:name=".BloodSugarActivity" />
        <activity android:name=".BloodpressureActivity" />
        <activity
            android:name=".popups.BloodPressurePopUp"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".popups.CaloriePopUp"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".popups.BloodSugarPopUp"
            android:theme="@style/AppTheme.CustomTheme" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreen"
            android:label="@string/title_activity_homescreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegistrationPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".notification.AlarmReceiver"/>
    </application>

</manifest>